.answer-button {
    display: none;
}

.buttons {
    display: inline-block;
}

.save-score-row {
    display: none;
}

.right-wrong {
    border-top: solid;
    display: none;
    font-style: italic;
}